*{
    margin: 0;
    padding: 0;
}
section{
    padding: 60px 0px;
}
.section-title{
    max-width: 600px;
    height: auto;
    margin: auto;
    padding-bottom: 50px;

}
a{
    text-decoration: none;
    color: white;
}
.container{
    width: 1120px;
    margin: auto;
    height: auto;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 25px;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 40px;
}
a{
    font-family: 'Josefin Sans', sans-serif;
}
li{
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
}
img{
    /* width: 100%;
    height: auto; */
}
.primary{
    color: #24DF9A;
}
.btn-primary{
    background: #24DF9A;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}
.btn-getstarted{
    background: #dcf9ee;
    color: #102039;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}
.pricing-card:hover .btn-getstarted{
    background-color: #24DF9A;
    color: white;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.py-2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pt-2{
    padding-top: 20px;
}
.pb-2{
    padding-bottom: 20px;
}

/* ========================================= */

/* #hexagon {
    width: 100px;
    height: 57.735px;
    background: red;
    position: relative;
  }
  #hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid red;
  }
  #hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
  } */