/* Header and Banner Css */
.header{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.nav-wrap{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 15px 0px;
}
.nav-wrap .mobile-toggle i{
    font-size: 25px;
}
.mobile-toggle{
    display: none;
}
.nav-wrap ul li{
    list-style-type: none;
    padding: 0px 15px;
}
.nav-wrap ul li a:hover{
    color: #25d49e;
    transition: 0.5s;
}
.nav-wrap a{
    text-decoration: none;
    color: white;
}
.menu ul{
    display: flex;
    align-items: center;
}
.sign-in{
    background: #24DF9A;
    padding: 10px 15px;
    border-radius: 5px;
}
.banner-body{
    max-width: 285px;
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner-body h1{
    line-height: 45px;
}
/* Exclusive Features Css */
.exclusive-body{
    display: flex;
    justify-content: center;
}
.card{
    width: 33%;
    height: auto;
    margin: 0% 1%;
    padding: 40px 20px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;

}

.exclusive-icon i{
    background-color: #f2f4fb;
    color: #362ec9;
    font-size: 45px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.card{
    background-color: #ffffff;
}
.card:hover{
    -webkit-box-shadow: 6px 2px 17px -11px #000000; 
    box-shadow: 6px 2px 17px -11px #000000;
}
.card:hover h3{
    color: #3852da;
}
.card:hover i{
    background-color: #3852da;
    color: white;
    transition: 0.5s;
}
/* Super Clean Css */
.super-clean-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.super-clean-img{
    width: 60%;
    margin: 2%;

}
.super-clean-content{
    width: 38%;

}
.super-clean-img img{
    height: 360px;
}


/* Counter */
.counter{
    background-image: url(../images/counter-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.counter-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18%;
    height: 235px;
    color: white;
    border: 1px solid #5567dd;
    margin: 0% 1%;
    border-radius: 5px;
}
.counter-child:hover{
    border: 1px solid #24e09b;
}
.counter-child i{
    color: #24e09b;
    font-size: 35px;
}
.counter-child h4{
    padding: 30px 0px;
}
.counter-content{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin: 0px 10px;
    color: white;

}
.counter-content>div{
    width: 50%;
}


/* Team Member */
.team-wrap{
    display: flex;
    justify-content: center;
    align-items: center;

}
.team-member {
    margin: 0px 10px;
    text-align: center;
}
.team-member img{
    width: 150px;
    height: 165px;
}


/* Wtach Video */
.wath-video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right top, #5a92e3, #5181dd, #4e6fd6, #515ccc, #5747c0);
    color: white;
    width: 910px;
    height: 450px;
    margin: auto;
    border-radius: 5px;
}
.wath-video i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 45px;
    background-color: #24e09b;
    color: white;
    border-radius: 50%;
}

/* Pricing Card */
.pricing-card-wrap{
    display: flex;
    justify-content: space-between;
}
.pricing-card{
    width: 32%;
    height: 500px;
    border-radius: 10px;
    background: white;
    color: black;
    border: 1px solid #eef1fa;
    position: relative;
}
.pricing-card:hover{
    color: white;
    background-image: linear-gradient(to right top, #5a92e3, #5181dd, #4e6fd6, #515ccc, #5747c0);

}
.pricing-card:hover li{
    color: white;
}
.pricing-card img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.pricing-head{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    height: 150px;
    padding-top: 50px;
}

.pricing-card h2{
    width: 160px;
    height: 55px;
    padding-left: 20px;
    display: flex;
    color: #1d5dff;
    justify-content: left;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #dcf9ee;
}
.pricing-card:hover h2{
    color: white;
    background-image: linear-gradient(to right top, #ff6200, #ff7900, #ff8f00, #ffa300, #ffb600);
}
.pricing-body ul li{
    list-style: none;
    padding: 7px 0px;
    text-align: center;
    color: black;
}

.pricing-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pricing-card .btn-getstarted{
    padding: 15px 22px;
}
.pricing-body .p-button{
    margin-top: 60px;
}
.p-bottom-s {
    background: #F6F8FD;
    width: 155px;
    height: 155px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius: 75%;
}
.pricing-card:hover .p-bottom-s{
    background: #3854D9;
}

/* Latest News */
.latest-body{
    display: flex;
    justify-content: space-between;
}
.latest-child{
    width: 24%;
    margin: 0px 1%;
}
.latest-child-content{
    padding: 15px 15px;
    border: 1px solid #ebeffa;

}
.latest-child-content span{
    color: #363dcf;
}
.latest-child img{
    vertical-align: middle;
}
.latest-child-2 .latest-child-content{
    padding: 30px 10px;
    
}



/* Footer */
.footer-body{
    background-image: url(../images/footer-bd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 60px 0px;
    border-bottom: 1px solid rgb(221, 221, 221);

}
.footer-child-1{
    width: 50%;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 60px;
}
.footer-content > div{
    width: 25%;
}
.footer-content > div ul li{
    padding: 10px 0px;
}
.footer-content > div h2{
    padding-bottom: 15px;
}
.copy-right{
    background-color: #102039;

}
.copy-right-wrap{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 15px 0px;
}
.copy-right-wrap .cradit a{
    color: #24e09b;
}
.social-media i{
    width: 35px;
    height: 35px;
    border: 1px solid #7c8592;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
    display: inline-flex;
}
.social-media i:hover{
    background-color:#24e09b ;
    border-color: #24e09b;
    color: white;
}


